<% include ../layout/header%>
<% include ../layout/menu%>

<script>
    $("#navhome").removeClass("active");
    $("#navprodutos").removeClass("active");
    $("#navclientes").addClass("active");
    $("#navvendas").removeClass("active");
</script>

<div class="container">
  <h3>Cadastro Cliente</h3>
  <div class="panel panel-default" style="height:600px; background: #ddddddcc">

    <%if(validacao.length>0){%>
    <div class="alert alert-danger" id="validacaoCadastroProduto">
      <strong>Atenção!</strong>
      <ul>
        <% for(var i=0; i < validacao.length; i++){ %>
        <li>
          <%=validacao[i].msg%>
        </li>
        <% } %>

      </ul>
    </div>

    <% }%>


    <%if(adicionado.bool == 1){%>
      <div class="alert alert-success" id="sucessoAdd">
          <strong><%=adicionado.msg %></strong>
      </div>
    <% }%>

    <form action="/clientes" method="post" class="cliente" name="form-cadastro">
      <div class="form-group">
        <label for="nomeCliente">Cliente</label>
        <input type="text" autofocus class="form-control" id="nomeCliente" name="nomeCliente" placeholder="Nome do Cliente" value="<%=dadosForm.nomeProduto%>">
      </div>

      <button type="submit" class="btn btn-primary">Salvar</button>
      <a href="/clientes"><button type="button" class="btn btn-primary">Voltar</button></a>
      <a href="/clientes"><button type="button" class="btn btn-primary">Cancelar</button></a>
    </form>
  </div>
</div>
<% include ../layout/footer%>