<% include ../layout/header%>
<% include ../layout/menu%>

<div class="container">
    <h3>Produto</h3>

    <div class="panel panel-default" style="height:600px; background: #ddddddcc">


        <a href="/produtos/register"><img id="addIcone" class="produtos img-fluid" src="/image/addProduto.png" title="Cadastrar Produto" ></a>
        <a href="/produtos"><img id="listarIcone" class="produtos img-fluid" src="/image/listProduto.png" title="Listar Produto"></a>
    </div>
</div>
<% include ../layout/footer%>