
body {
    background-image: url("/image/vendas2.jpg");
}

#listagemProdutos, #listagemClientes{
    padding: 5%;
}

#listagemVendas{
    padding: 15%;
}


.produto, .cliente{
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
}

#validacaoCadastroProduto{
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
}

#sucessoAdd{
    text-align: center;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
}