
<% include layout/header%>
<% include layout/menu%>
  
<div class="container">


  <h3>FRENTE DE LOJA</h3>
  
  <p class="img">Bem Vindo ao Melhor Site de Vendas Online.</p>
</div>
<% include layout/footer%>