<% include ../layout/header%>
<% include ../layout/menu%>

<script>
    $("#navhome").removeClass("active");
    $("#navprodutos").removeClass("active");
    $("#navclientes").removeClass("active");
    $("#navvendas").addClass("active");
</script>

<div class="container">
  <h3>Vendas Realizadas</h3>
  <div class="panel panel-default" style="height:600px; background: #ddddddcc">
    <div class="panel-body">Em certo periodo de tempo</div>

  </div>
</div>

</div>
<% include ../layout/footer%>